@font-face {
    font-family: 'Monument Extended';
    src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI Symbol';
    src: url('/fonts/segoe-ui-symbol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif Caption';
    src: url('/fonts/PTSerifCaption-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-intro .loader,
.no-intro .center-container,
.no-intro .name-block { display: none !important; animation: none !important; transition: none !important; }
.no-intro .header { animation: none !important; opacity: 1 !important; position: relative !important; background-color: rgba(0,0,0) !important; }
.no-intro body { background: repeating-linear-gradient(to bottom,rgba(15, 12, 41, 0.3) 0vh,rgba(48, 43, 99, 0.3) 50vh,rgba(15, 12, 41, 0.3) 100vh),rgb(19, 15, 39) !important; }


body {
    display: flex;
    flex-direction: column;
    background: rgb(19, 15, 39);
    overflow-x: hidden;
    font-family: 'PT Serif Caption';
    min-height: 100vh;
    color: #fff;
}

.header { 
    font-family: 'Monument Extended';
    position: relative;
    top: 0;
    width: 100%;
    padding: 0.8% 5%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #fff;
}

.container h1 {
    font-size: clamp(16px, 2.3vw, 40px);
    white-space: nowrap;
    font-family: 'Monument Extended';
}

.container a {
    text-decoration: none;
    font-family: 'Monument Extended';
    color: #fff;
}

.nav {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: clamp(16px, 1.2vw, 20px);
    white-space: nowrap;
    font-family: 'Monument Extended';
}

.burger-menu {
    display: none;
}

.name-block {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 3.5vw;
    color: white;
    opacity: 0;
    text-align: center;
    background-color: rgb(42,27,61,0.77);
    padding: 5% 2%;
    border-radius: 0.75vw;
    white-space: nowrap;
    font-family: 'PT Serif Caption';
}

.lang {
    display: flex;
    align-items: center;
}

.lang img {
    width: clamp(16px, 1.2vw, 20px);
    margin-right: 0.4em ;
}

.lang p {
    font-size: clamp(16px, 1.2vw, 20px);
    font-family: Serif;
}

.main-content {
    max-width: 1340px;
    margin: 0 auto;
}

.circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(15px);
    opacity: 10;
    z-index: -1;
}

.collection-circle.one{
    width: 128px; height: 128px;
    right: 65%; top: 30%;
    background: #C44DFF33;
}
.collection-circle.two{
    width: 160px; height: 160px;
    left: 80%; top: 60%;
    background: #33BBFF1A;
}

.collection-circle.three{
    width: 96px; height: 96px;
    left: 70%; top: 90%;
    background: #33DDFF33;
}

.collection-circle.four{
    width: 96px; height: 96px;
    left: 5%; top: 130%;
    background: #33DDFF33;
}

.collection-circle.five{
    width: 160px; height: 160px;
    left: 10%; top: 150%;
    background: #33BBFF1A;
}

.collection-circle.six{
    width: 128px; height: 128px;
    right: 10%; top: 155%;
    background: #C44DFF33;
}

.collection-circle.seven{
    width: 128px; height: 128px;
    right: 40%; top: 150%;
    background: #C44DFF33;
}

.collection-circle.eight{
    width: 96px; height: 96px;
    left: 25%; top: 220%;
    background: #33DDFF33;
}

.collection-circle.nine{
    width: 160px; height: 160px;
    left: 35%; top: 230%;
    background: #33BBFF1A;
}

.collection-circle.ten{
    width: 128px; height: 128px;
    right: 15%; top: 305%;
    background: #C44DFF33;
}

.collection-circle.elleven{
    width: 128px; height: 128px;
    right: 40%; top: 450%;
    background: #C44DFF33;
}

.collection-circle.twelve{
    width: 96px; height: 96px;
    left: 7%; top: 475%;
    background: #33DDFF33;
}

.collection-circle.thirteen{
    width: 160px; height: 160px;
    left: 10%; top: 495%;
    background: #33BBFF1A;
}

.collection-mobile {
    display: none;
}

.collection-title {
    text-align: center;
    font-size: 96px;
    font-family: 'PT Serif Caption';
    margin-top: 40px;
}

.collection-subtitle {
    text-align: center;
    font-size: 25px;
    font-family: 'PT Serif Caption';
    margin-top: 15px;
}


.collection-card {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    margin-top: 150px;
    padding-bottom: 50px;
}

.img-city-vatikan {
    width: 100%;
    height: 100%;
    max-width: 737px;
    max-height: 499px;
}

.collection-text {
    padding-top: 30px;
    margin-right: 50px;
}

.collection-name {
    font-size: 48px;
}

.collection-info {
    display: flex;
    padding-top: 10px;
    gap: 10px;

    p {
        color: #B58FB9;
        font-size: 20px;
    }
}

.collection-description {
    color: #B58FB9;
    font-size: 20px;
    padding-top: 30px;
    line-height: 2;
}

.collection-light {
    padding: 5% 5%;
    background-color: #211E3A;
    max-width: 300px;
    width: 100%;
    border-radius: 100px;
    margin-top: 30px;
}

.collection-light-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.collection-light-info img {
    width: 24px;
    height: 24px;
}

.collection-light-info p {
    font-size: 24px;
}

.collection-card img,
.collection-card-2 img,
.collection-img-2 img {
    transition: opacity 0.2s ease-in-out;
}


.footer {
    margin-top: clamp(40px, 10vw, 120px);
    width: 100%;
    background: #12111A;
    height: 172px;
    border-top: 1px solid rgb(43,48,59,0.5);
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    color: rgb(240,242,245,0.6);
    font-size: 16px;
    margin-top: 33px;
}

.footer-text {
    color: rgb(240,242,245,0.4);
    font-size: 14px;
    margin-top: 20px;
}


.collection-card-2 {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    margin-top: 150px;
    padding-bottom: 50px;
}

.collection-card-2.japan-fish{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.collection-img {
    display: flex;
    gap: 2rem;
}

.collection-img-2 {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.img-city-buhara-tashkent {
    width: 100%;
    height: 100%;
    max-width: 737px;
    max-height: 499px;
}

.collection-text-2 {
    padding-top: 30px;
    margin-left: auto;
}

.collection-name-2 {
    font-size: 48px;
}

.collection-info-2 {
    display: flex;
    padding-top: 10px;
    gap: 10px;

    p {
        color: #B58FB9;
        font-size: 20px;
    }
}

.collection-description-2 {
    color: #B58FB9;
    font-size: 20px;
    padding-top: 30px;
    line-height: 2;
}

.collection-light-2 {
    padding: 5% 5%;
    background-color: #211E3A;
    max-width: 300px;
    width: 100%;
    border-radius: 100px;
    margin-top: 30px;
}

.collection-light-info-2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.collection-light-info-2 img {
    width: 24px;
    height: 24px;
}

.collection-light-info-2 p {
    font-size: 24px;
}

img {
    transition: opacity 0.25s ease;
}

.img-sneg-v-pitere {
    width: 100%;
    max-width: 737px;
    max-height: 600px;
}

.img-lucky-day {
    width: 100%;
    max-width: 718px;
    max-height: 724px;
}

.img-city-white-city {
    width: 100%;
    height: 100%;
    max-width: 547px;
    max-height: 833px;
    margin-left: 50px;
}

.img-piter-moskva {
    width: 100%;
    height: 100%;
    max-width: 737px;
    max-height: 603px;
}

.img-city-london {
    width: 100%;
    height: 100%;
    max-width: 737px;
    max-height: 499px;
}

.img-solnechnoe-utro {
    width: 100%;
    height: 100%;
    max-width: 728px;
    max-height: 836px;
}

.img-city-gorod-zolotoi {
    width: 100%;
    height: 100%;
    max-width: 737px;
    max-height: 600px;
}

.img-lumines-mary {
    width: 100%;
    height: 100%;
    max-width: 484px;
    max-height: 853px;
}

.img-lumines-rada {
    width: 100%;
    height: 100%;
    max-width: 737px;
    max-height: 1008px;
}

.img-lumines-dreams {
    width: 100%;
    height: 100%;
    max-width: 680px;
    max-height: 808px;
}

.img-lumines-game {
    width: 100%;
    height: 100%;
    max-width: 737px;
    max-height: 1008px;
}

.img-lumines-time {
    width: 100%;
    height: 100%;
    max-width: 680px;
    max-height: 808px;
}

.img-china-morning {
    width: 100%;
    height: 100%;
    max-width: 484px;
    max-height: 574px;
}

.img-china-gold {
    width: 100%;
    height: 100%;
    max-width: 737px;
    max-height: 1008px;
}

.img-china-flow {
    width: 100%;
    height: 100%;
    max-width: 679px;
    max-height: 808px;
}

.img-china-fog {
    width: 100%;
    height: 100%;
    max-width: 761px;
    max-height: 649px;
}

.img-china-lucky {
    width: 100%;
    height: 100%;
    max-width: 679px;
    max-height: 808px;
}

.img-china-flowers {
    width: 100%;
    height: 100%;
    max-width: 737px;
    max-height: 892px;
}

.img-japan-flip-flop-one {
    width: 100%;
    height: 100%;
    max-width: 330px;
    max-height: 501px;
}

.img-japan-flip-flop {
    width: 100%;
    height: 100%;
    max-width: 330px;
    max-height: 501px;
}

.img-japan-samurai{
    width: 100%;
    height: 100%;
    max-width: 330px;
    max-height: 501px;
}

.img-japan-fry {
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 520px;
}

.img-japan-drops {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 708px;
}

.img-japan-flying {
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 520px;
}

.img-japan-fish {
    width: 100%;
    height: 100%;
    max-width: 417px;
    max-height: 900px;
}

.img-japan-flowers {
    width: 100%;
    height: 100%;
    max-width: 429px;
    max-height: 700px;
}

.collection-card.japan-flowers {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

@media (max-width: 1200px) {

    .circle {
        display: none;
    }

    .main-content {
        max-width: 700px;
        margin: 0 auto;
    }

    .collection-title {
        text-align: center;
        font-size: 64px;
        font-family: 'PT Serif Caption';
        margin-top: 40px;
    }

    .collection-subtitle {
        text-align: center;
        font-size: 20px;
        font-family: 'PT Serif Caption';
        margin-top: 15px;
    }

    .collection-name {
        font-size: 30px;
    }

    .collection-name-2 {
        font-size: 30px;
    }

    .collection-card {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        margin-top: 50px;
        padding-bottom: 15px;
    }

    .collection-card.japan-flip-flop {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 15px;
    }

    .collection-card-2.japan-samurai {
        display: none;
    }

    .collection-card-2.japan-samurai-2 {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 15px;
    }

    .collection-card-2 {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        margin-top: 50px;
        padding-bottom: 15px;
    }

    .collection-text {
        padding-top: 10px;
        margin-right: 0;
        text-align: right;
    }   

    .collection-text.japan-flip-flop {
        padding-top: 10px;
        margin-right: 0;
        text-align: left;
    }   

    .collection-info {
        float: right;
    }

    .collection-info.japan-flip-flop {
        float: none;
    }

    .collection-description {
        padding-top: 50px;
    }

    .collection-description.japan-flip-flop {
        padding-top: 30px;
    }

    .collection-light {
        float: right;
    }

    .collection-light.japan-flip-flop {
        float: left;
    }
    

    .img-city-buhara-tashkent {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 499px;
    }

    .img-sneg-v-pitere {
        width: 100%;
        max-width: 600px;
        max-height: 400px;
    }

    .img-lucky-day {
        width: 100%;
        max-width: 718px;
        max-height: 724px;
    }

    .img-city-white-city {
        width: 100%;
        height: 100%;
        max-width: 547px;
        max-height: 833px;
        margin-left: 0;
    }

    .img-piter-moskva {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 603px;
    }

    .img-city-london {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 499px;
    }

    .img-solnechnoe-utro {
        width: 100%;
        height: 100%;
        max-width: 728px;
        max-height: 836px;
    }

    .img-city-gorod-zolotoi {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 600px;
    }

    .img-lumines-mary {
        width: 100%;
        height: 100%;
        max-width: 484px;
        max-height: 853px;
    }

    .img-lumines-rada {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 1008px;
    }

    .img-lumines-dreams {
        width: 100%;
        height: 100%;
        max-width: 680px;
        max-height: 808px;
    }

    .img-lumines-game {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 1008px;
    }

    .img-lumines-time {
        width: 100%;
        height: 100%;
        max-width: 680px;
        max-height: 808px;
    }

    .img-japan-flip-flop-one {
        width: 100%;
        height: 100%;
        max-width: 330px;
        max-height: 501px;
    }

    .img-japan-flip-flop {
        width: 100%;
        height: 100%;
        max-width: 330px;
        max-height: 501px;
    }

    .img-japan-samurai{
        width: 100%;
        height: 100%;
        max-width: 330px;
        max-height: 501px;
    }

    .img-japan-fry {
        width: 100%;
        height: 100%;
        max-width: 700px;
        max-height: 520px;
    }

    .img-japan-drops {
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 708px;
    }

    .img-japan-flying {
        width: 100%;
        height: 100%;
        max-width: 700px;
        max-height: 520px;
    }

    .img-japan-fish {
        width: 100%;
        height: 100%;
        max-width: 417px;
        max-height: 900px;
    }

    .img-japan-flowers {
        width: 100%;
        height: 100%;
        max-width: 429px;
        max-height: 700px;
    }
}

@media (max-width: 440px) {

    .circle {
        display: none;
    }

    .main-content {
        max-width: 350px;
        margin: 0 auto;
    }

    .collection {
        display: none;
    }

    .collection-mobile {
        display: block;
    }

    .collection-title {
        text-align: center;
        font-size: 32px;
        font-family: 'PT Serif Caption';
        margin-top: 40px;
    }

    .collection-subtitle {
        text-align: center;
        font-size: 16px;
        font-family: 'PT Serif Caption';
        margin-top: 15px;
    }

    .collection-img {
        display: block;
    }

    .collection-name {
        font-size: 20px;
    }

    .collection-name-2 {
        font-size: 20px;
    }

    .collection-card {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 15px;
    }

    .collection-text {
        padding-top: 10px;
        margin-right: 0;
        text-align: left;
    }   

    .collection-info {
        float: none;
    }

    .collection-info p {
        font-size: 12px;
    }

    .collection-light {
        float: none;
        align-items: center;
        max-width: 200px;
    }

    .collection-light-info {
        justify-content: center;
    }    

    .collection-light p {
        font-size: 14px;
    }

    .collection-description {
        padding-top: 20px;
        font-size: 14px;
    }

    .img-city-buhara-tashkent {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 499px;
    }

    .img-sneg-v-pitere {
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 400px;
    }

    .img-lucky-day {
        width: 100%;    
        height: 100%;
        max-width: 718px;
        max-height: 724px;
    }

    .img-city-white-city {
        width: 100%;
        height: 100%;
        max-width: 547px;
        max-height: 833px;
        margin-left: 0;
    }

    .img-piter-moskva {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 603px;
    }

    .img-city-london {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 499px;
    }

    .img-solnechnoe-utro {
        width: 100%;
        height: 100%;
        max-width: 728px;
        max-height: 836px;
    }

    .img-city-gorod-zolotoi {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 600px;
    }

    .img-lumines-mary {
        width: 100%;
        height: 100%;
        max-width: 484px;
        max-height: 853px;
    }

    .img-lumines-rada {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 1008px;
    }

    .img-lumines-dreams {
        width: 100%;
        height: 100%;
        max-width: 680px;
        max-height: 808px;
    }

    .img-lumines-game {
        width: 100%;
        height: 100%;
        max-width: 737px;
        max-height: 1008px;
    }

    .img-lumines-time {
        width: 100%;
        height: 100%;
        max-width: 680px;
        max-height: 808px;
    }

    .img-japan-flip-flop-one {
        width: 100%;
        height: 100%;
        max-width: 330px;
        max-height: 501px;
    }

    .img-japan-flip-flop {
        width: 100%;
        height: 100%;
        max-width: 330px;
        max-height: 501px;
    }

    .img-japan-samurai{
        width: 100%;
        height: 100%;
        max-width: 330px;
        max-height: 501px;
    }

    .img-japan-fry {
        width: 100%;
        height: 100%;
        max-width: 700px;
        max-height: 520px;
    }

    .img-japan-drops {
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 708px;
    }

    .img-japan-flying {
        width: 100%;
        height: 100%;
        max-width: 700px;
        max-height: 520px;
    }

    .img-japan-fish {
        width: 100%;
        height: 100%;
        max-width: 417px;
        max-height: 900px;
    }

    .img-japan-flowers {
        width: 100%;
        height: 100%;
        max-width: 429px;
        max-height: 700px;
    }

    .footer {
        margin-top: clamp(40px, 10vw, 120px);
        width: 100%;
        background: #12111A;
        height: 172px;
        border-top: 1px solid rgb(43,48,59,0.5);
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-title {
        color: rgb(240,242,245,0.6);
        font-size: 14px;
        margin-top: 33px;
    }

    .footer-text {
        color: rgb(240,242,245,0.4);
        font-size: 12px;
        margin-top: 20px;
    }
}